<%- include('header') %>
    <div class="container">
        <h1>Tell us something about you</h1>
        <form action="/" method="post">
            <textarea name="post" rows="10" cols="40" required></textarea>
            <input type="submit">
        </form>
    </div>
<%- include('bottom') %>