<%- include('header') %>
    
    <h1>Tell us something about you</h1>
    <form action="./submit" method="post">
        <textarea name="post" rows="10" cols="40"></textarea>
        <input type="submit">
    </form>

<%- include('bottom') %>